@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="aboutMe">
    <h1>
        <span style="color: #00FF2A">></span><span id="typeWriteHeader"> Hi, I'm Krzysztof</span><span class="blink">|</span>
    </h1>
    <div class="contentBlock" style="margin-top: 15px;">
        <div class="card" style="background-color: transparent; line-height: 45px; font-weight: lighter;">
            I've been programming since I was 13. <br /><br />
            My main fields are <span style="color: #A1E727;">desktop</span>, <span style="color: #A1E727;">game</span>
            and <span style="color: #A1E727;">mobile</span> development. <br /><br />
            I am <span style="color: #A1E727;">Google Code-In</span> <span style="color: #A1E727;">2018</span>
            finalist,
            <span style="color: #A1E727;">Google Code-In</span> 2019 Runner up<br />
            and winner of few local contests.<br /><br />
            I love books, music and archery.
        </div>
    </div>
    <div class="contentBlock">
        <div class="card">
            <pre class="prettyprint">
class Portfolio
{
    var name = "Krzysztof Krysiński";
    var age = @Model.Age;
    var nationality = "Polish";
                        
    var github = "<a href="https://github.com/flabbet" target="_blank">flabbet</a>";
    var linkedIn = "<a href="https://www.linkedin.com/in/krzysztof-krysinski-dev/" target="_blank">krzysztof-krysinski-dev</a>";
    var stackOverflow = "<a href="https://stackoverflow.com/users/9146296/flabbet" target="_blank">flabbet</a>";
}
            </pre>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>
<div id="projects">
    <div class="titleText">
        <span>My projects</span>
    </div>
    @foreach (var project in Model.Projects)
    {
        <div class="card" style="width: 400px; display: inline-block;">
            <div class="project-card" onclick="enablePlayer();">
                <a href="@project.ProjectUrl" target="_blank">
                    @project.ProjectName
                </a>

                <div class="project-card-body">
                    @project.Description
                    <div class="project-card-technologies">
                        @foreach (var tech in project.Technologies)
                        {
                            <div class="project-card-technology" style="color: @tech.FontColor; background-color: @tech.Color">
                                @tech.Name
                            </div>
                        }
                        <br />
                        <div class="project-lang">
                            <span class="dot" style="background-color: @project.LanguageColor"></span>
                            <span>@project.Language</span>
                        </div>
                        <a href="@project.ProjectUrl" target="_blank">
                            <div class="project-link">
                                <img src="~/images/@project.Image" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div id="wipProjects">
    <span class="titleText">Projects I am working on</span>

</div>

<script src="js/videoPlayerController.js"></script>